@import 'colors';

.starry_sky {
    background: linear-gradient($app-background, #3f446c 90%);
    position: relative;
    top: -5px;
    height: 80%;
    overflow: hidden;
}

.mountains {
    background-image: url('/mountains_black_small.svg'), url('/michael.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom, bottom right;
    height: 200px;
}

.businessCard {
    height: 250px;
    position: absolute;
    width: 100%;
    bottom: 20%;
}

.content {
    background-color: $app-background;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 130px;
}

.name {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    display: grid;
    align-items: center;
}

.tagline {
    margin-top: 0;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .mountains {
        background-image: url('/mountains_long.svg'), url('/michael.webp');
    }
}
