.starry_sky {
    background: linear-gradient(#1D1F31, #3f446c);
    height: 100%;
    overflow: hidden;
}

.mountains {
    background-image: url('/mountains_black_small.svg'), url('/michael.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom, bottom right;
    height: 200px;
}

.content {
    background-color: black;
    background-image: linear-gradient(#000, #1D1F31);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 130px;
}

.name {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    display: grid;
    align-items: center;
}

.tagline {
    margin-top: 0;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .mountains {
        background-image: url('/mountains_long.svg'), url('/michael.webp');
    }

    .starry_sky {
        background: linear-gradient(#1D1F31, #3f446c 91%, #1D1F31 93%);

    }
    
}


@media screen and (min-width: 1000px) {

    .content {
        /* min-height: 225px; */
    }
}
