$app-background: #1D1F31;
$studyhall-blue: #061e44;
$studyhall-red: rgb(240, 50, 50);
$base-blue: rgba(238, 245, 251, 1);
$base-red: #FBE2DE;
$base-yellow: rgba(251, 239, 216, 1);

.container {
    position: relative;
    min-height: 200px;
    background: $base-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $studyhall-blue;
}

.container::before, .container::after {
    content: "";
    background-image: url('/studyhall/to-studyhall.svg'), linear-gradient($app-background 10%, $base-blue 10.1%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 70px;
    width: 100%;
    position: relative;
}

.container::before {
    top: -5px;
}

.container::after {
    transform: rotate(.5turn);
    top: 5px;
}

@media screen and (min-width: 500px) {
    .container::before, .container::after {
        height: 160px;
    }
}

.about {
    width: 75%;
    text-align: center;
}

.technologyUsed {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stackIcon {
    width: 100px;
    height: 60px;
}

.learnMore {
    text-decoration: none;
    border-bottom: 3px solid $studyhall-blue;
    margin: 10px 0 5px 0;
    padding-bottom: 2px;
    transition: color .25s, border-color .25s;
    &:hover {
        color: $studyhall-red;
        border-color: $studyhall-red;
    }
    &:active {
        color: $studyhall-blue;
    }
}